@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&display=swap');

html {
    scroll-behavior: smooth;
}

body {
    background-color: rgb(255, 255, 255);
    margin: 0;
    padding: 0;
}

header {
    width: 100%;
    height: 100px;
    border: 10px;
    background-color: rgb(16, 25, 56);
    position: fixed;
    top: 0;
    left: 0;
    font-size: 25;
    color: #fff;
    text-align: center;
    z-index: 3;
}

header ul {
    list-style-type: none;

}

header li {
    display: inline-block;
    margin: 10px 50px 0px 50px;
}

header a {
    color: #fff;
    /* font-weight: bold; */
    text-decoration: none;
}

header li :hover{
    /* font-weight: bold; */
    color: #74040d;
}

.bio-container {
    text-align: center;
    /* position: relative; */
    margin-top: 160px;
    height: 350px;
    /* background-color: #74040d; */
}

.bio {
    font-family: 'Dancing Script', cursive;
    margin-top: -80px;
    width: 100%;
    font-size: 350px;
    color: rgb(215, 215, 215);
    z-index: 1;
    position: absolute;
    /* text-align: center; */
}

.ppbog {
    margin-top: 80px;
    text-align: center;
    position: relative;
    z-index: 2;

}

.ppbog img {
    width: 350px;
    text-align: center;
    border-radius: 50%;
    border: 2px solid rgb(48, 67, 137);

}

.name {
    margin-top: 40px;
    font-size: 90px;
    text-align: center;
    color: rgb(48, 67, 137);
}

.student {
    margin-top: px;
    font-size: 35px;
    text-align: center;
    color: rgb(128, 128, 128);
}

.heads {
    margin-top: 150px;
    text-align: left;
    margin-left: 150px;
    font-size: 50px;
    color: rgb(48, 67, 137);
    font-weight: bold;
}

.heads {
    scroll-margin-top: 220px; 
}

.edu {
    font-size: 25px;
    color: rgb(104, 104, 104);
    text-align: left;
    margin: 20px 100px;
    line-height: 60px;
}

.edu a {
    color: #74040d;
    font-weight: bold;
    text-decoration: none;
}

.awards{
    font-size: 25px;
    color: rgb(104, 104, 104);
    text-align: left;
    margin: 20px 100px;
    line-height: 60px;
}

.awards a {
    color: #74040d;
    font-weight: bold;
    text-decoration: none;
}

.inter{
    font-size: 25px;
    color: rgb(104, 104, 104);
    text-align: left;
    margin: 20px 100px;
    line-height: 60px;
}

.cont{
    text-align: center;
}

.cont a img{
    width: 100px;
    margin: 30px 30px;
}


.sch {
    margin-top: 30px;
    /* background-color: #c6a7ef;s   */
}

.sch table{
    font-size: 20px;
    color:  rgb(48, 67, 137);
    border-spacing: 5px;
    width: 1200px;
    height: 360px;
    margin: 0px auto;
    background-color: #ffffff;
}

.sch  th, tr, td{
    width: 200px;
    height: 30px;
    border: 2px solid rgb(48, 67, 137);
    text-align: center;
}

.sch th{
    background-color: rgb(230, 235, 255);

}

.sch .noon{
    background-color: rgb(230, 235, 255);
    font-size: 20px;
    font-weight: bold;
    
}

.sch .clock{
    font-size: 20px;
    font-weight: bold;
    background-color: rgb(230, 235, 255);

}












